<h1>Add a new movie</h1>

<form action="http://localhost:3000/movies/create_movie">
  Title:
  <input name="the_title" type="text">

  Year:
  <input name="the_year" type="text">

   Description:
  <input name="the_description" type="text">

  Runtime:
  <input name="the_duration" type="text">

   Image:
  <input name="the_image_url" type="text">


  <button>Create Movie</button>
</form>

<a href="/">Cancel and go back</a>
