<h1>Add a new actor</h1>

<form action="http://localhost:3000/actors/create_actor">
  Name:
  <input name="the_name" type="text">

  Date of Birth:
  <input name="the_dob" type="text">

   Bio:
  <input name="the_bio" type="text">

   Image:
  <input name="the_image_url" type="text">


  <button>Create Actor</button>
</form>

<a href="/">Cancel and go back</a>
